## Unit 3 Live Session Sandbox
## Jason Anastasopoulos (ljanastas@syr.edu)

### Lecture topics:

- Boolean operators
- Formatting for strings
- Dictionaries
- Reading and manipulating CSV files

## Different ways to loop in Python

In [2]:
# Create a list 
fruitlist = ['apple', 'pear', 'banana']

# Loops using string representations
# Printing out every element of the list

for fruit in fruitlist:
    print(fruit)

apple
pear
banana

In [6]:
# Loops using indices 
# Print out every element of the list

indices = range(0,len(fruitlist))

for i in indices:
    print(i)
    print(fruitlist[i])

0
apple
1
pear
2
banana

In [11]:
fruitlist_new = []
for x in fruitlist:
    fruitlist_new.append(x[0])
    
fruitlist_new

['a', 'p', 'b']

In [10]:
# Pythonic loops
fruitlist_new = [x[0] for x in fruitlist]
fruitlist_new

['a', 'p', 'b']

## Boolean operators: if, and, or statements of truth

In [15]:
# Create a list 
fruitlist = ['apple', 'pear', 'bannana']

# Test if a plum is in this list
'plum' in fruitlist

# Print 'hooray' if there's an apple in the list
#if 'apple' in fruitlist:
#    print('hooray')
    
# and statements
# Print 'hooray' if there's an apple and a pear in my list
if ('apple' and 'plum') in fruitlist:
    print('hooray')
else:
    print('sorry bubs')
    
# or statement
# Print 'hooray' if there's an apple or a plum in my list
#if ('apple' or 'plum') in fruitlist:
#    print('hooray')

sorry bubs

# Error Handling (try/except)

In [21]:
fruitlist = ['apple', 'pear', 'bannana']
indices = range(0,4)

for i in indices:
    try:
        print(fruitlist[i])
    except IndexError:
        print("Sorry, you're at the of the list")

apple
pear
bannana
Sorry, you're at the of the list

In [31]:
# Test for character in a string
'p' in fruitlist[0]

True

## Formatting for strings

In [33]:
fruitlist = ['apple', 'pear', 'bannana','blueberries']

# Print out the number of elements in the fruitlist as part of the statement 
# "there are x# of fruits" 
# in the fruitlist

print('There are {:d} fruits in the fruitlist and the first fruit is {:s}'.format(len(fruitlist),fruitlist[0]))

There are 4 fruits in the fruitlist and the first fruit is apple

## Dictionaries

In [25]:
emptydict = dict()
type(emptydict)

phonedict = {'eric': '454-5555', 'john':'454-5195'}

len(phonedict)

# Retrieve the keys
phonekeys = phonedict.keys()
phonekeys

# Retreive the values
phonevalues = phonedict.values()

# Look up a value  in the dictionary 
phonedict['john']

dict

In [39]:
# This program reads the data from the states tsv file
#     Each line has the state name, abbreviation, postal code, area and population.
# It stores the items in each line in a dictionary whose keys represent the column names.
#     It print the state name, abbreviation and population for each state.

import csv

infile = 'states_data.tsv'
#infile.path  = '/Users/jason/Dropbox/Teaching/Syracuse-Scripting-2019/Unit 3/states_data.tsv'


# create new empty list

statesList = []

with open(infile, 'r') as csvfile:

    # the csv file reader returns a list of the csv items on each line

    stateReader = csv.reader(csvfile,  dialect='excel', delimiter='\t')
    # Print out the first two letters of the first column.
    for line in stateReader:
        print(line)

['Data of the States', 'State Abbrev.', 'Postal Abbrev.', 'Area (Sq Mi)', 'Population*']
['Alabama', 'Ala.', 'AL', '52,423', '4,040,587']
['Alaska', 'Alaska', 'AK', '656,424', '550,043']
['Arizona', 'Ariz.', 'AZ', '114,006', '3,665,228']
['Arkansas', 'Ark.', 'AR', '53,182', '2,350,725']
['California', 'Calif.', 'CA', '163,707', '29,769,021']
['Colorado', 'Colo.', 'CO', '104,100', '3,294,394']
['Connecticut', 'Conn.', 'CT', '5,544', '3,287,116']
['Delaware', 'Del.', 'DE', '2,489', '666,168']
['District of Columbia', 'D.C.', 'DC', '68', '606,900']
['Florida', 'Fla.', 'FL', '65,756', '12,937,926']
['Georgia', 'Ga.', 'GA', '59,441', '6,478,216']
['Hawaii', 'Hawaii', 'HI', '10,932', '1,108,229']
['Idaho', 'Idaho', 'ID', '83,574', '1,006,749']
['Illinois', 'Ill.', 'IL', '57,918', '11,430,602']
['Indiana', 'Ind.', 'IN', '36,420', '5,544,159']
['Iowa', 'Iowa', 'IA', '56,276', '2,776,755']
['Kansas', 'Kans.', 'KS', '82,282', '2,477,574']
['Kentucky', 'Ky.', 'KY', '40,411', '3,685,296']
['Louisiana', 'La.', 'LA', '51,843', '4,219,973']
['Maine', 'Maine', 'ME', '35,387', '1,227,928']
['Maryland', 'Md.', 'MD', '12,407', '4,781,468']
['Massachusetts', 'Mass.', 'MA', '10,555', '6,016,425']
['Michigan', 'Mich.', 'MI', '96,705', '9,295,297']
['Minnesota', 'Minn.', 'MN', '86,943', '4,375,099']
['Mississippi', 'Miss.', 'MS', '48,434', '2,573,216']
['Missouri', 'Mo.', 'MO', '69,709', '5,117,073']
['Montana', 'Mont.', 'MT', '147,046', '799,065']
['Nebraska', 'Nebr.', 'NE', '77,358', '1,578,385']
['Nevada', 'Nev.', 'NV', '110,567', '1,201,833']
['New Hampshire', 'N.H.', 'NH', '9,351', '1,109,252']
['New Jersey', 'N.J.', 'NJ', '8,722', '7,730,188']
['New Mexico', 'N.Mex.', 'NM', '121,598', '1,515,069']
['New York', 'N.Y.', 'NY', '54,471', '17,990,455']
['North Carolina', 'N.C.', 'NC', '53,821', '6,628,637']
['North Dakota', 'N.Dak.', 'ND', '70,704', '638,800']
['Ohio', 'Ohio', 'OH', '44,828', '10,847,115']
['Oklahoma', 'Okla.', 'OK', '69,903', '3,145,585']
['Oregon', 'Oreg.', 'OR', '98,386', '2,842,321']
['Pennsylvania', 'Pa.', 'PA', '46,058', '11,881,643']
['Rhode Island', 'R.I.', 'RI', '1,545', '1,003,464']
['South Carolina', 'S.C.', 'SC', '32,008', '3,468,703']
['South Dakota', 'S.Dak.', 'SD', '77,121', '696,004']
['Tennessee', 'Tenn.', 'TN', '42,146', '4,877,185']
['Texas', 'Tex.', 'TX', '268,601', '16,986,510']
['Utah', 'Utah', 'UT', '84,904', '1,722,850']
['Vermont', 'Vt.', 'VT', '9,615', '562,758']
['Virginia', 'Va.', 'VA', '42,777', '6,187,358']
['Washington', 'Wash.', 'WA', '71,302', '4,866,692']
['West Virginia', 'W.Va.', 'WV', '24,231', '1,793,477']
['Wisconsin', 'Wis.', 'WI', '65,499', '4,891,769']
['Wyoming', 'Wyo.', 'WY', '97,818', '453,588']
['', '', '', '', '']
['United States', '', '', '3,787,316', '248,691,873']
['', '', '', '', '']
['* 1990 Census', '', '', '', '']

## Reading and manipulating csv files

In [43]:
# This program reads the data from the states tsv file
#     Each line has the state name, abbreviation, postal code, area and population.
# It stores the items in each line in a dictionary whose keys represent the column names.
#     It print the state name, abbreviation and population for each state.

import csv

infile = 'states_data.tsv'
#infile.path  = '/Users/jason/Dropbox/Teaching/Syracuse-Scripting-2019/Unit 3/states_data.tsv'


# create new empty list

statesList = []

with open(infile, 'r') as csvfile:

    # the csv file reader returns a list of the csv items on each line

    stateReader = csv.reader(csvfile,  dialect='excel', delimiter='\t')


    # from each line, a list of row items, put each element in a dictionary

    #   with a key representing the data

    for line in stateReader:

      # skip lines without data, specific for each file to catch non-data lines

      if line[0] == '' or line[0].startswith('Data') or line[0].startswith('*'):

          continue

      else:

          # create a dictionary for each state

          state = {}

          # add each piece of data under a key representing that column of data

          state['name'] = line[0]

          state['abbrev'] = line[1]

          state['code'] = line[2]

          state['area'] = int(line[3].replace(',',''))

          state['pop'] = int(line[4].replace(',',''))

          # The dictionary for Alabama
          # state = {'name': 'Alabama', 'abbrev': 'Ala.', 'code':'AL', 'area': 52423, 'pop':4040587}
          # add this state to the list

          statesList.append(state)

statesList[0:3]

csvfile.close()


#print ("Read", len(statesList), "state data")


# print a few fields from all of the states read from the file


for state in statesList:
    print ('State:', state['name'], ' Abrv: ', state['abbrev'], ' Population: ', state['pop'])

State: Alabama  Abrv:  Ala.  Population:  4040587
State: Alaska  Abrv:  Alaska  Population:  550043
State: Arizona  Abrv:  Ariz.  Population:  3665228
State: Arkansas  Abrv:  Ark.  Population:  2350725
State: California  Abrv:  Calif.  Population:  29769021
State: Colorado  Abrv:  Colo.  Population:  3294394
State: Connecticut  Abrv:  Conn.  Population:  3287116
State: Delaware  Abrv:  Del.  Population:  666168
State: District of Columbia  Abrv:  D.C.  Population:  606900
State: Florida  Abrv:  Fla.  Population:  12937926
State: Georgia  Abrv:  Ga.  Population:  6478216
State: Hawaii  Abrv:  Hawaii  Population:  1108229
State: Idaho  Abrv:  Idaho  Population:  1006749
State: Illinois  Abrv:  Ill.  Population:  11430602
State: Indiana  Abrv:  Ind.  Population:  5544159
State: Iowa  Abrv:  Iowa  Population:  2776755
State: Kansas  Abrv:  Kans.  Population:  2477574
State: Kentucky  Abrv:  Ky.  Population:  3685296
State: Louisiana  Abrv:  La.  Population:  4219973
State: Maine  Abrv:  Maine  Population:  1227928
State: Maryland  Abrv:  Md.  Population:  4781468
State: Massachusetts  Abrv:  Mass.  Population:  6016425
State: Michigan  Abrv:  Mich.  Population:  9295297
State: Minnesota  Abrv:  Minn.  Population:  4375099
State: Mississippi  Abrv:  Miss.  Population:  2573216
State: Missouri  Abrv:  Mo.  Population:  5117073
State: Montana  Abrv:  Mont.  Population:  799065
State: Nebraska  Abrv:  Nebr.  Population:  1578385
State: Nevada  Abrv:  Nev.  Population:  1201833
State: New Hampshire  Abrv:  N.H.  Population:  1109252
State: New Jersey  Abrv:  N.J.  Population:  7730188
State: New Mexico  Abrv:  N.Mex.  Population:  1515069
State: New York  Abrv:  N.Y.  Population:  17990455
State: North Carolina  Abrv:  N.C.  Population:  6628637
State: North Dakota  Abrv:  N.Dak.  Population:  638800
State: Ohio  Abrv:  Ohio  Population:  10847115
State: Oklahoma  Abrv:  Okla.  Population:  3145585
State: Oregon  Abrv:  Oreg.  Population:  2842321
State: Pennsylvania  Abrv:  Pa.  Population:  11881643
State: Rhode Island  Abrv:  R.I.  Population:  1003464
State: South Carolina  Abrv:  S.C.  Population:  3468703
State: South Dakota  Abrv:  S.Dak.  Population:  696004
State: Tennessee  Abrv:  Tenn.  Population:  4877185
State: Texas  Abrv:  Tex.  Population:  16986510
State: Utah  Abrv:  Utah  Population:  1722850
State: Vermont  Abrv:  Vt.  Population:  562758
State: Virginia  Abrv:  Va.  Population:  6187358
State: Washington  Abrv:  Wash.  Population:  4866692
State: West Virginia  Abrv:  W.Va.  Population:  1793477
State: Wisconsin  Abrv:  Wis.  Population:  4891769
State: Wyoming  Abrv:  Wyo.  Population:  453588
State: United States  Abrv:    Population:  248691873

## Unit 3 Python Code (courtesy of Dr. Gregory Block)

In [9]:
from decimal import *
import csv

# region NBA-Attendance-1989
from typing import List, Any

nba_list = []

# open the file and copy each line to an array
with open('NBA-Attendance-1989.txt') as nba_file:
    for each_line in nba_file:
        team, attendance, ticket = each_line.strip().split()
        nba_list.append([team, int(attendance), Decimal(ticket)])

# close the file as soon as possible

# print team information
print("-------- NBA Attendance 1989 ---------")
for team, attendance, ticket in nba_list:
    print('Team {0} had attendance {1} with ticket price {2:5.2f}'.format(team, attendance, ticket))

# calculate team metrics
total_attendance = sum(attendance for team, attendance, ticket in nba_list)
max_attendance: int = max(attendance for team, attendance, ticket in nba_list)
max_ticket_price: Decimal = max(ticket for team, attendance, ticket in nba_list)

# note the use of or [None])[0] -- this pulls the first item out of the list
team_with_max_attendance = ([team for team, attendance, ticket in nba_list if attendance == max_attendance] or [None])[0]
team_with_max_ticket_price = ([team for team, attendance, ticket in nba_list if ticket == max_ticket_price] or [None])[0]

# print team metrics
print('Number of teams: {0}'.format(len(nba_list)))
print(f"Total attendance is {total_attendance} ")
print(f"Team {team_with_max_attendance} has maximum attendance of {max_attendance}")
print(f"Team {team_with_max_ticket_price} has maximum ticket price of {max_ticket_price}")
# endregion

# region Using dictionaries

# create the dictionary
phone_dict = {'eric': '454-5555', 'john': '454-5195', 'michael': '454-9999', 'helen': '456-1234', 'don': '455-9988'}

# sort by contact
print("-------- sorting contacts by name ---------")
for contact, phone_number in sorted(phone_dict.items()):
    print(f"Contact {contact} uses phone number {phone_number}")

# sort by phone number
print("-------- sorting contacts by number ---------")
for contact, phone_number in sorted(phone_dict.items(), key=lambda kv: (kv[1], kv[0])):
    print(f"Contact {contact} uses phone number {phone_number}")

# sorting tuples
sort_tuples = [(1,7),(1,3),(3,4),(2,2)]
print("-------- sorting tuples by second value---------")
for lhs, rhs in sorted(sort_tuples, key=lambda each_tuple: (each_tuple[1])):
    print(f"Tuple {lhs} has value {rhs}")

print("-------- sorting tuples by number ---------")
for lhs, rhs in sorted(sort_tuples, reverse=True, key=lambda each_tuple: (each_tuple[1])):
    print(f"Tuple {lhs} has value {rhs}")

# endregion

# region CSV files
source_file = 'states_data.tsv'
state_list = []

with open(source_file, 'rU') as csv_file:
    state_reader = csv.reader(csv_file, dialect='excel', delimiter='\t')

    lines = [line for line in state_reader if line[0] != '' and not line[0].startswith('Data') and not line[0].startswith('*')]
    for each_line in lines:
        state_name = each_line[0]
        state_abbrev = each_line[1]
        state_code = each_line[2]
        state_area = each_line[3].replace(',', '')
        state_pop = each_line[4].replace(',', '')
        state_list.append([state_name, state_abbrev, state_code, state_area, state_pop])

# close the file here

# print a few fields from all of the states read from the file
print("-------- state information ---------")
for state_name, state_abbrev, state_code, state_area, state_pop in state_list:
    print(f"State: '{state_name}'', abbreviation '{state_abbrev}'', code '{state_code}'', area '{state_area}'', population '{state_pop}'")
# endregion

-------- NBA Attendance 1989 ---------
Team Atlanta had attendance 13993 with ticket price 20.06
Team Boston had attendance 14916 with ticket price 22.54
Team Charlotte had attendance 23901 with ticket price 17.00
Team Chicago had attendance 18404 with ticket price 21.98
Team Cleveland had attendance 16969 with ticket price 19.63
Team Dallas had attendance 16868 with ticket price 17.05
Team Denver had attendance 12668 with ticket price 17.40
Team Detroit had attendance 21454 with ticket price 24.42
Team Golden_State had attendance 15025 with ticket price 17.04
Team Houston had attendance 15846 with ticket price 17.56
Team Indiana had attendance 12885 with ticket price 13.77
Team LA_Clippers had attendance 11869 with ticket price 21.95
Team LA_Lakers had attendance 17378 with ticket price 29.18
Team Miami had attendance 15008 with ticket price 17.60
Team Milwaukee had attendance 16088 with ticket price 14.08
Team Minnesota had attendance 26160 with ticket price 10.92
Team New_Jersey had attendance 12160 with ticket price 13.31
Team New_York had attendance 17815 with ticket price 22.70
Team Orlando had attendance 15606 with ticket price 20.47
Team Philadelphia had attendance 14017 with ticket price 19.04
Team Phoenix had attendance 14114 with ticket price 16.59
Team Portland had attendance 12884 with ticket price 22.19
Team Sacramento had attendance 17014 with ticket price 16.96
Team San_Antonio had attendance 14722 with ticket price 16.79
Team Seattle had attendance 12244 with ticket price 18.11
Team Utah had attendance 12616 with ticket price 18.41
Team Washington had attendance 11565 with ticket price 14.55
Number of teams: 27
Total attendance is 424189
Team Minnesota has maximum attendance of 26160
Team LA_Lakers has maximum ticket price of 29.18
-------- sorting contacts by name ---------
Contact don uses phone number 455-9988
Contact eric uses phone number 454-5555
Contact helen uses phone number 456-1234
Contact john uses phone number 454-5195
Contact michael uses phone number 454-9999
-------- sorting contacts by number ---------
Contact john uses phone number 454-5195
Contact eric uses phone number 454-5555
Contact michael uses phone number 454-9999
Contact don uses phone number 455-9988
Contact helen uses phone number 456-1234
-------- sorting tuples by second value---------
Tuple 2 has value 2
Tuple 1 has value 3
Tuple 3 has value 4
Tuple 1 has value 7
-------- sorting tuples by number ---------
Tuple 1 has value 7
Tuple 3 has value 4
Tuple 1 has value 3
Tuple 2 has value 2
-------- state information ---------
State: 'Alabama'', abbreviation 'Ala.'', code 'AL'', area '52423'', population '4040587'
State: 'Alaska'', abbreviation 'Alaska'', code 'AK'', area '656424'', population '550043'
State: 'Arizona'', abbreviation 'Ariz.'', code 'AZ'', area '114006'', population '3665228'
State: 'Arkansas'', abbreviation 'Ark.'', code 'AR'', area '53182'', population '2350725'
State: 'California'', abbreviation 'Calif.'', code 'CA'', area '163707'', population '29769021'
State: 'Colorado'', abbreviation 'Colo.'', code 'CO'', area '104100'', population '3294394'
State: 'Connecticut'', abbreviation 'Conn.'', code 'CT'', area '5544'', population '3287116'
State: 'Delaware'', abbreviation 'Del.'', code 'DE'', area '2489'', population '666168'
State: 'District of Columbia'', abbreviation 'D.C.'', code 'DC'', area '68'', population '606900'
State: 'Florida'', abbreviation 'Fla.'', code 'FL'', area '65756'', population '12937926'
State: 'Georgia'', abbreviation 'Ga.'', code 'GA'', area '59441'', population '6478216'
State: 'Hawaii'', abbreviation 'Hawaii'', code 'HI'', area '10932'', population '1108229'
State: 'Idaho'', abbreviation 'Idaho'', code 'ID'', area '83574'', population '1006749'
State: 'Illinois'', abbreviation 'Ill.'', code 'IL'', area '57918'', population '11430602'
State: 'Indiana'', abbreviation 'Ind.'', code 'IN'', area '36420'', population '5544159'
State: 'Iowa'', abbreviation 'Iowa'', code 'IA'', area '56276'', population '2776755'
State: 'Kansas'', abbreviation 'Kans.'', code 'KS'', area '82282'', population '2477574'
State: 'Kentucky'', abbreviation 'Ky.'', code 'KY'', area '40411'', population '3685296'
State: 'Louisiana'', abbreviation 'La.'', code 'LA'', area '51843'', population '4219973'
State: 'Maine'', abbreviation 'Maine'', code 'ME'', area '35387'', population '1227928'
State: 'Maryland'', abbreviation 'Md.'', code 'MD'', area '12407'', population '4781468'
State: 'Massachusetts'', abbreviation 'Mass.'', code 'MA'', area '10555'', population '6016425'
State: 'Michigan'', abbreviation 'Mich.'', code 'MI'', area '96705'', population '9295297'
State: 'Minnesota'', abbreviation 'Minn.'', code 'MN'', area '86943'', population '4375099'
State: 'Mississippi'', abbreviation 'Miss.'', code 'MS'', area '48434'', population '2573216'
State: 'Missouri'', abbreviation 'Mo.'', code 'MO'', area '69709'', population '5117073'
State: 'Montana'', abbreviation 'Mont.'', code 'MT'', area '147046'', population '799065'
State: 'Nebraska'', abbreviation 'Nebr.'', code 'NE'', area '77358'', population '1578385'
State: 'Nevada'', abbreviation 'Nev.'', code 'NV'', area '110567'', population '1201833'
State: 'New Hampshire'', abbreviation 'N.H.'', code 'NH'', area '9351'', population '1109252'
State: 'New Jersey'', abbreviation 'N.J.'', code 'NJ'', area '8722'', population '7730188'
State: 'New Mexico'', abbreviation 'N.Mex.'', code 'NM'', area '121598'', population '1515069'
State: 'New York'', abbreviation 'N.Y.'', code 'NY'', area '54471'', population '17990455'
State: 'North Carolina'', abbreviation 'N.C.'', code 'NC'', area '53821'', population '6628637'
State: 'North Dakota'', abbreviation 'N.Dak.'', code 'ND'', area '70704'', population '638800'
State: 'Ohio'', abbreviation 'Ohio'', code 'OH'', area '44828'', population '10847115'
State: 'Oklahoma'', abbreviation 'Okla.'', code 'OK'', area '69903'', population '3145585'
State: 'Oregon'', abbreviation 'Oreg.'', code 'OR'', area '98386'', population '2842321'
State: 'Pennsylvania'', abbreviation 'Pa.'', code 'PA'', area '46058'', population '11881643'
State: 'Rhode Island'', abbreviation 'R.I.'', code 'RI'', area '1545'', population '1003464'
State: 'South Carolina'', abbreviation 'S.C.'', code 'SC'', area '32008'', population '3468703'
State: 'South Dakota'', abbreviation 'S.Dak.'', code 'SD'', area '77121'', population '696004'
State: 'Tennessee'', abbreviation 'Tenn.'', code 'TN'', area '42146'', population '4877185'
State: 'Texas'', abbreviation 'Tex.'', code 'TX'', area '268601'', population '16986510'
State: 'Utah'', abbreviation 'Utah'', code 'UT'', area '84904'', population '1722850'
State: 'Vermont'', abbreviation 'Vt.'', code 'VT'', area '9615'', population '562758'
State: 'Virginia'', abbreviation 'Va.'', code 'VA'', area '42777'', population '6187358'
State: 'Washington'', abbreviation 'Wash.'', code 'WA'', area '71302'', population '4866692'
State: 'West Virginia'', abbreviation 'W.Va.'', code 'WV'', area '24231'', population '1793477'
State: 'Wisconsin'', abbreviation 'Wis.'', code 'WI'', area '65499'', population '4891769'
State: 'Wyoming'', abbreviation 'Wyo.'', code 'WY'', area '97818'', population '453588'
State: 'United States'', abbreviation ''', code ''', area '3787316'', population '248691873'

/Users/jason/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:69: DeprecationWarning: 'U' mode is deprecated